<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="IBatisNet" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2957.106" targetFramework="net48" />
  <package id="ProphetsWay.BaseDataAccess" version="2.2.0" targetFramework="net48" />
  <package id="ProphetsWay.EFTools" version="1.0.1" targetFramework="net48" />
  <package id="ProphetsWay.Hasher" version="2.1.0" targetFramework="net48" />
  <package id="ProphetsWay.iBatisTools" version="1.1.0" targetFramework="net48" />
  <package id="ProphetsWay.Logger" version="3.0.0" targetFramework="net48" />
  <package id="ProphetsWay.Utilities" version="1.0.0" targetFramework="net48" />
</packages>